:root {
    --color-purple: #c271ff;
    --color-dark-blue: #071629;
    --container-large-desktop: 1300px;
    --color-black:rgba(7, 22, 41, 1);

  }

  .bg-default {
    background-color: var(--color-dark-blue);
  }
  body {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgba(255, 255, 255, 1);

  }
  .btn-primary {
    font-size: 14px;
    font-weight: 600;
    border-radius: 50px !important;
    border: 0;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
  }
  
  .btn-primary,
  .btn-primary:active {
    background-color: var(--color-purple) !important;
  } 

.header {
    background-image: url(/images/pic_2.jpg);
    background-size: cover;
    background-color:var(--color-dark-blue);
    background-position:top;
    background-repeat: no-repeat;
    min-height: 1170px;
    overflow: auto;
}




@media (max-width:576px) {
    .header {
        background-repeat: no-repeat;
        background-size: 768px;
        background-position:top;
    }
}


/* Hero title*/
.hero-title {
    padding-top: 275px;
}
.image__box {
    width: 150px;
    height: 150px;
    
}

.image__box-lo {

    background-repeat: no-repeat;
    width: 37px;
    height: 30px;
}

.image__box-go {
    background-image: url(/images/logo.svg);
    background-repeat: no-repeat;
    width: 385px;
    height: 40px;
}

.under__title{
    margin-top: 16rem;
}

.c {
    margin-top: 16rem;
}
.price__title {
    font-size: 32px !important;
    margin-top: 275px;
    margin-bottom: 75px;
    
}
.smile__title {
    font-family: 'Coiny', cursive;
}
.go__pro {
    font-size: 60px;
    margin-bottom: 68px;
}


.prices__header {
    background-image: url(/images/pic_2.jpg);
    background-size: cover;
    background-color:var(--color-dark-blue);
    background-position:top;
    background-repeat: no-repeat;
    min-height: 1170px;
    overflow: auto;

}

.big-price {
    font-size: 44px;
    font-weight: bold;
}
.table .btn {
    width: 162px;
  height: 44px;
}

.price-detail {
    font-size: 12px;
    opacity: 50.3%;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.table-col{
    padding: 19px 0 19px !important;
    border-bottom: 1px solid rgba(255, 255, 255, 20%);
}

.tablex p{
    font-size: 18px;
    font-weight: 400;
    color:white;
}

.signal-offre {
    width: 88px;
    height: 35px;
}
.tablex {
    margin-top: 70px;
}

.small-display {
    font-size: 12px;
}

@media (max-width:576px) {
    .price__title {
        font-size: 24px !important;
        margin-top: 0 !important;
    }
}

/* What is SmileSchool */
.faq__section {
    color: var(--color-black);
    padding-bottom: 127px;
}
.faq__section p{
    font-size: 14px;
    font-weight: 400;
    color:rgba(7, 22, 41, 0.5016);
    margin-top: 30px;

}
.faq__section  h2{
    font-size: 16px;
    font-weight:bold !important;
}

.footerx {
    background: var(--color-dark-blue)!important;
    position:relative;
    height: 250px !important;
    overflow: auto;
}
.footer__lo {
    width: 37px;
    height: 30px;
}

.footer__go{
    width: 114px;
    height: 20px;
}

.copyright{
    position: absolute !important;
    left: 28% !important;
    
}

.sub__footer {
    margin-top: 86px !important;
}

.help {
    margin-top: 50px !important;
}

@media (max-width: 500px){
    .footerx {
        overflow:hidden;
    }
    .help {
        margin-top: 20px !important;
    }
}

